@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.gas-b {
  border: 0.8px solid rgba(0, 0, 0, 0.1);
}

.d-border {
  border: 2px solid blue;
}

body {
  margin: auto;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}